*, *:before, *:after{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html{
  min-height:100vh;
}
 
body{
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-o-flex;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  min-width:320px;
}
 
main{
  flex:1 0 auto;
}
 
footer{
  flex:0 0 auto;
}

.container{
	
}

.row{
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right: -15px;
	margin-left: -15px;
	/*max-width:100%;*/
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	-o-flex:1;
	flex:1;
}

.row [class*="col-"],
.row .col{
	padding-left:15px;
	padding-right:15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col{
	width:100%;
	min-height:1px;
}

@media screen and (min-width:320px){
	.col-xs-1{
		-webkit-flex:0 0 8.333333%;
		-webkit-box-flex:0 0 8.333333%;
		-moz-flex:0 0 8.333333%;
		-moz-box-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		-o-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%;
	}

	.col-xs-2{
		-webkit-flex:0 0 16.666667%;
		-webkit-box-flex:0 0 16.666667%;
		-moz-flex:0 0 16.666667%;
		-moz-box-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		-o-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
    	max-width:16.666667%;
	}

	.col-xs-3{
		-webkit-flex:0 0 25%;
		-webkit-box-flex:0 0 25%;
		-moz-flex:0 0 25%;
		-moz-box-flex:0 0 25%;
		-ms-flex:0 0 25%;
		-o-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%;
	}

	.col-xs-4{
		-webkit-flex:0 0 33.333333%;
		-webkit-box-flex:0 0 33.333333%;
		-moz-flex:0 0 33.333333%;
		-moz-box-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		-o-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%;
	}

	.col-xs-5{
		-webkit-flex:0 0 41.666667%;
		-webkit-box-flex:0 0 41.666667%;
		-moz-flex:0 0 41.666667%;
		-moz-box-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		-o-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
    	max-width:41.666667%;
	}

	.col-xs-6{
		-webkit-flex:0 0 50%;
		-webkit-box-flex:0 0 50%;
		-moz-flex:0 0 50%;
		-moz-box-flex:0 0 50%;
		-ms-flex:0 0 50%;
		-o-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%;
	}

	.col-xs-7{
		-webkit-flex:0 0 58.333333%;
		-webkit-box-flex:0 0 58.333333%;
		-moz-flex:0 0 58.333333%;
		-moz-box-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		-o-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%;
	}

	.col-xs-8{
		-webkit-flex:0 0 66.666667%;
		-webkit-box-flex:0 0 66.666667%;
		-moz-flex:0 0 66.666667%;
		-moz-box-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		-o-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%;
	}

	.col-xs-9{
		-webkit-flex:0 0 75%;
		-webkit-box-flex:0 0 75%;
		-moz-flex:0 0 75%;
		-moz-box-flex:0 0 75%;
		-ms-flex:0 0 75%;
		-o-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%;
	}

	.col-xs-10{
		-webkit-flex:0 0 83.333333%;
		-webkit-box-flex:0 0 83.333333%;
		-moz-flex:0 0 83.333333%;
		-moz-box-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		-o-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		    max-width:83.333333%;
	}

	.col-xs-11{
		-webkit-flex:0 0 91.666667%;
		-webkit-box-flex:0 0 91.666667%;
		-moz-flex:0 0 91.666667%;
		-moz-box-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		-o-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%;
	}

	.col-xs-12{
		-webkit-flex:0 0 100%;
		-webkit-box-flex:0 0 100%;
		-moz-flex:0 0 100%;
		-moz-box-flex:0 0 100%;
		-ms-flex:0 0 100%;
		-o-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}

@media screen and (min-width:576px){
	.col-sm-1{
		-webkit-flex:0 0 8.333333%;
		-webkit-box-flex:0 0 8.333333%;
		-moz-flex:0 0 8.333333%;
		-moz-box-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		-o-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%;
	}

	.col-sm-2{
		-webkit-flex:0 0 16.666667%;
		-webkit-box-flex:0 0 16.666667%;
		-moz-flex:0 0 16.666667%;
		-moz-box-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		-o-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
    	max-width:16.666667%;
	}

	.col-sm-3{
		-webkit-flex:0 0 25%;
		-webkit-box-flex:0 0 25%;
		-moz-flex:0 0 25%;
		-moz-box-flex:0 0 25%;
		-ms-flex:0 0 25%;
		-o-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%;
	}

	.col-sm-4{
		-webkit-flex:0 0 33.333333%;
		-webkit-box-flex:0 0 33.333333%;
		-moz-flex:0 0 33.333333%;
		-moz-box-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		-o-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%;
	}

	.col-sm-5{
		-webkit-flex:0 0 41.666667%;
		-webkit-box-flex:0 0 41.666667%;
		-moz-flex:0 0 41.666667%;
		-moz-box-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		-o-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
    	max-width:41.666667%;
	}

	.col-sm-6{
		-webkit-flex:0 0 50%;
		-webkit-box-flex:0 0 50%;
		-moz-flex:0 0 50%;
		-moz-box-flex:0 0 50%;
		-ms-flex:0 0 50%;
		-o-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%;
	}

	.col-sm-7{
		-webkit-flex:0 0 58.333333%;
		-webkit-box-flex:0 0 58.333333%;
		-moz-flex:0 0 58.333333%;
		-moz-box-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		-o-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%;
	}

	.col-sm-8{
		-webkit-flex:0 0 66.666667%;
		-webkit-box-flex:0 0 66.666667%;
		-moz-flex:0 0 66.666667%;
		-moz-box-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		-o-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%;
	}

	.col-sm-9{
		-webkit-flex:0 0 75%;
		-webkit-box-flex:0 0 75%;
		-moz-flex:0 0 75%;
		-moz-box-flex:0 0 75%;
		-ms-flex:0 0 75%;
		-o-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%;
	}

	.col-sm-10{
		-webkit-flex:0 0 83.333333%;
		-webkit-box-flex:0 0 83.333333%;
		-moz-flex:0 0 83.333333%;
		-moz-box-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		-o-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		    max-width:83.333333%;
	}

	.col-sm-11{
		-webkit-flex:0 0 91.666667%;
		-webkit-box-flex:0 0 91.666667%;
		-moz-flex:0 0 91.666667%;
		-moz-box-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		-o-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%;
	}

	.col-sm-12{
		-webkit-flex:0 0 100%;
		-webkit-box-flex:0 0 100%;
		-moz-flex:0 0 100%;
		-moz-box-flex:0 0 100%;
		-ms-flex:0 0 100%;
		-o-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}

@media screen and (min-width:768px){
	.col-md-1{
		-webkit-flex:0 0 8.333333%;
		-webkit-box-flex:0 0 8.333333%;
		-moz-flex:0 0 8.333333%;
		-moz-box-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		-o-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%;
	}

	.col-md-2{
		-webkit-flex:0 0 16.666667%;
		-webkit-box-flex:0 0 16.666667%;
		-moz-flex:0 0 16.666667%;
		-moz-box-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		-o-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
    	max-width:16.666667%;
	}

	.col-md-3{
		-webkit-flex:0 0 25%;
		-webkit-box-flex:0 0 25%;
		-moz-flex:0 0 25%;
		-moz-box-flex:0 0 25%;
		-ms-flex:0 0 25%;
		-o-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%;
	}

	.col-md-4{
		-webkit-flex:0 0 33.333333%;
		-webkit-box-flex:0 0 33.333333%;
		-moz-flex:0 0 33.333333%;
		-moz-box-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		-o-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%;
	}

	.col-md-5{
		-webkit-flex:0 0 41.666667%;
		-webkit-box-flex:0 0 41.666667%;
		-moz-flex:0 0 41.666667%;
		-moz-box-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		-o-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
    	max-width:41.666667%;
	}

	.col-md-6{
		-webkit-flex:0 0 50%;
		-webkit-box-flex:0 0 50%;
		-moz-flex:0 0 50%;
		-moz-box-flex:0 0 50%;
		-ms-flex:0 0 50%;
		-o-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%;
	}

	.col-md-7{
		-webkit-flex:0 0 58.333333%;
		-webkit-box-flex:0 0 58.333333%;
		-moz-flex:0 0 58.333333%;
		-moz-box-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		-o-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%;
	}

	.col-md-8{
		-webkit-flex:0 0 66.666667%;
		-webkit-box-flex:0 0 66.666667%;
		-moz-flex:0 0 66.666667%;
		-moz-box-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		-o-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%;
	}

	.col-md-9{
		-webkit-flex:0 0 75%;
		-webkit-box-flex:0 0 75%;
		-moz-flex:0 0 75%;
		-moz-box-flex:0 0 75%;
		-ms-flex:0 0 75%;
		-o-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%;
	}

	.col-md-10{
		-webkit-flex:0 0 83.333333%;
		-webkit-box-flex:0 0 83.333333%;
		-moz-flex:0 0 83.333333%;
		-moz-box-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		-o-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		    max-width:83.333333%;
	}

	.col-md-11{
		-webkit-flex:0 0 91.666667%;
		-webkit-box-flex:0 0 91.666667%;
		-moz-flex:0 0 91.666667%;
		-moz-box-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		-o-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%;
	}

	.col-md-12{
		-webkit-flex:0 0 100%;
		-webkit-box-flex:0 0 100%;
		-moz-flex:0 0 100%;
		-moz-box-flex:0 0 100%;
		-ms-flex:0 0 100%;
		-o-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}

@media screen and (min-width:992px){
	.col-lg-1{
		-webkit-flex:0 0 8.333333%;
		-webkit-box-flex:0 0 8.333333%;
		-moz-flex:0 0 8.333333%;
		-moz-box-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		-o-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%;
	}

	.col-lg-2{
		-webkit-flex:0 0 16.666667%;
		-webkit-box-flex:0 0 16.666667%;
		-moz-flex:0 0 16.666667%;
		-moz-box-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		-o-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
    	max-width:16.666667%;
	}

	.col-lg-3{
		-webkit-flex:0 0 25%;
		-webkit-box-flex:0 0 25%;
		-moz-flex:0 0 25%;
		-moz-box-flex:0 0 25%;
		-ms-flex:0 0 25%;
		-o-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%;
	}

	.col-lg-4{
		-webkit-flex:0 0 33.333333%;
		-webkit-box-flex:0 0 33.333333%;
		-moz-flex:0 0 33.333333%;
		-moz-box-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		-o-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%;
	}

	.col-lg-5{
		-webkit-flex:0 0 41.666667%;
		-webkit-box-flex:0 0 41.666667%;
		-moz-flex:0 0 41.666667%;
		-moz-box-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		-o-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
    	max-width:41.666667%;
	}

	.col-lg-6{
		-webkit-flex:0 0 50%;
		-webkit-box-flex:0 0 50%;
		-moz-flex:0 0 50%;
		-moz-box-flex:0 0 50%;
		-ms-flex:0 0 50%;
		-o-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%;
	}

	.col-lg-7{
		-webkit-flex:0 0 58.333333%;
		-webkit-box-flex:0 0 58.333333%;
		-moz-flex:0 0 58.333333%;
		-moz-box-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		-o-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%;
	}

	.col-lg-8{
		-webkit-flex:0 0 66.666667%;
		-webkit-box-flex:0 0 66.666667%;
		-moz-flex:0 0 66.666667%;
		-moz-box-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		-o-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%;
	}

	.col-lg-9{
		-webkit-flex:0 0 75%;
		-webkit-box-flex:0 0 75%;
		-moz-flex:0 0 75%;
		-moz-box-flex:0 0 75%;
		-ms-flex:0 0 75%;
		-o-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%;
	}

	.col-lg-10{
		-webkit-flex:0 0 83.333333%;
		-webkit-box-flex:0 0 83.333333%;
		-moz-flex:0 0 83.333333%;
		-moz-box-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		-o-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		    max-width:83.333333%;
	}

	.col-lg-11{
		-webkit-flex:0 0 91.666667%;
		-webkit-box-flex:0 0 91.666667%;
		-moz-flex:0 0 91.666667%;
		-moz-box-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		-o-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%;
	}

	.col-lg-12{
		-webkit-flex:0 0 100%;
		-webkit-box-flex:0 0 100%;
		-moz-flex:0 0 100%;
		-moz-box-flex:0 0 100%;
		-ms-flex:0 0 100%;
		-o-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}

@media screen and (min-width:1170px){
	.col-1{
		-webkit-flex:0 0 8.333333%;
		-webkit-box-flex:0 0 8.333333%;
		-moz-flex:0 0 8.333333%;
		-moz-box-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		-o-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%;
	}

	.col-2{
		-webkit-flex:0 0 16.666667%;
		-webkit-box-flex:0 0 16.666667%;
		-moz-flex:0 0 16.666667%;
		-moz-box-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		-o-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
    	max-width:16.666667%;
	}

	.col-3{
		-webkit-flex:0 0 25%;
		-webkit-box-flex:0 0 25%;
		-moz-flex:0 0 25%;
		-moz-box-flex:0 0 25%;
		-ms-flex:0 0 25%;
		-o-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%;
	}

	.col-4{
		-webkit-flex:0 0 33.333333%;
		-webkit-box-flex:0 0 33.333333%;
		-moz-flex:0 0 33.333333%;
		-moz-box-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		-o-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%;
	}

	.col-5{
		-webkit-flex:0 0 41.666667%;
		-webkit-box-flex:0 0 41.666667%;
		-moz-flex:0 0 41.666667%;
		-moz-box-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		-o-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
    	max-width:41.666667%;
	}

	.col-6{
		-webkit-flex:0 0 50%;
		-webkit-box-flex:0 0 50%;
		-moz-flex:0 0 50%;
		-moz-box-flex:0 0 50%;
		-ms-flex:0 0 50%;
		-o-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%;
	}

	.col-7{
		-webkit-flex:0 0 58.333333%;
		-webkit-box-flex:0 0 58.333333%;
		-moz-flex:0 0 58.333333%;
		-moz-box-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		-o-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%;
	}

	.col-8{
		-webkit-flex:0 0 66.666667%;
		-webkit-box-flex:0 0 66.666667%;
		-moz-flex:0 0 66.666667%;
		-moz-box-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		-o-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%;
	}

	.col-9{
		-webkit-flex:0 0 75%;
		-webkit-box-flex:0 0 75%;
		-moz-flex:0 0 75%;
		-moz-box-flex:0 0 75%;
		-ms-flex:0 0 75%;
		-o-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%;
	}

	.col-10{
		-webkit-flex:0 0 83.333333%;
		-webkit-box-flex:0 0 83.333333%;
		-moz-flex:0 0 83.333333%;
		-moz-box-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		-o-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		    max-width:83.333333%;
	}

	.col-11{
		-webkit-flex:0 0 91.666667%;
		-webkit-box-flex:0 0 91.666667%;
		-moz-flex:0 0 91.666667%;
		-moz-box-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		-o-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%;
	}

	.col-12{
		-webkit-flex:0 0 100%;
		-webkit-box-flex:0 0 100%;
		-moz-flex:0 0 100%;
		-moz-box-flex:0 0 100%;
		-ms-flex:0 0 100%;
		-o-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}